.box1 {
   border: solid 3px green;
   background-color: bisque;
   
   
}
p {
    height: 300px;
    width: 850px;
    overflow: scroll;
    padding: 10px;
    
    border: solid black;
    border-radius: 10px
}
img {
    margin-bottom: 60px;
}
